<div class="main">
	<div class="left-block">
		<h1>Промышленная стерилизационная ускорительная установка «СТЕРУС-1»</h1>
		<p><img src="assets/images/pic1.png" alt="1" style="width: 300px; float: right; margin: 0 0 20px 20px;">Установка "Стерус-1"
			производит в промышленных масштабах стерилизацию медицинских изделий, а также может использоваться для
			других радиационно-технологических процессов. Все технологические процессы стерилизации медицинских изделий
			аттестованы Госстандартом России.</p>
		<p>Установка "Стерус-1" состоит из линейного СВЧ ускорителя, транспортной системы с подвесным непрерывным
			конвейером и автоматизированной системы управления.</p>
		<p>Радиационная обработка осуществляется пучком электронов. Облучение изделий двустороннее, за два прохода
			конвейера.</p>
		<p>&nbsp; &nbsp;&nbsp;</p>
		<h2>ПАРАМЕТРЫ УСТАНОВКИ</h2>
		<p></p>
		<table style="border-collapse: collapse; width: 100%;" border="0">
			<colgroup>
				<col style="width: 50%;">
				<col style="width: 50%;">
			</colgroup>
			<tbody>
				<tr>
					<td style="height: 30px; vertical-align: middle;"><strong>Максимальная энергия электронов</strong>
					</td>
					<td>10 МэВ</td>
				</tr>
				<tr>
					<td style="height: 30px; vertical-align: middle;"><strong>Максимальная мощность пучка
							электронов</strong></td>
					<td>10 кВт</td>
				</tr>
				<tr>
					<td style="height: 30px; vertical-align: middle;"><strong>Производительность при дозе 15
							кГр</strong></td>
					<td>1000 кг в час</td>
				</tr>
				<tr>
					<td style="height: 30px; vertical-align: middle;"><strong>Максимальные габариты облучаемых
							изделий</strong></td>
					<td>60х40х30 см</td>
				</tr>
				<tr>
					<td style="height: 30px; vertical-align: middle;"><strong>Потребляемая мощность (не более)</strong>
					</td>
					<td>130 кВт</td>
				</tr>
				<tr>
					<td style="height: 30px; vertical-align: middle;"><strong>Расход охлаждаемой воды</strong></td>
					<td>200 л в мин.</td>
				</tr>
				<tr>
					<td style="height: 30px; vertical-align: middle;"><strong>Требуемая площадь помещений:</strong></td>
					<td></td>
				</tr>
				<tr>
					<td style="height: 30px; vertical-align: middle;"><strong>радиационно-защищенных</strong></td>
					<td>110 кв. м.</td>
				</tr>
				<tr>
					<td style="height: 30px; vertical-align: middle;"><strong>не защищенных</strong></td>
					<td>240 кв. м.</td>
				</tr>
			</tbody>
		</table>
		<p><br><br></p>
		<p><img src="assets/images/pic2.png" alt="2" style="float: left; margin: 0 20px 20px 0;" width="340">На базе установки
			"Стерус-1" создан Центр радиационных технологий МРТИ РАН для осуществления радиационной стерилизации
			медицинских изделий, а также для отработки радиационных технологий различного назначения. В центре
			производится стерилизация больших объемов разнообразной медицинской продукции, выпускаемой на предприятиях
			Европейского региона России. Установка такого типа может быть использована для радиационного обеззараживания
			почтовой корреспонденции.</p>
		<h2>&nbsp;<br>&nbsp;ХАРАКТЕРНЫЕ ОСОБЕННОСТИ ЦЕНТРА:</h2>
		<ul>
			<li>Гарантированная стерильность обработанных изделий;</li>
			<li>Большая производительность и быстрота обработки;</li>
			<li>Широкий диапазон размеров коробок;</li>
			<li>Обработка изделий непосредственно в транспортной упаковке;</li>
			<li>Радиационная безопасность работы Центра.</li>
		</ul>
		<p>Центр размещен в помещениях с надежной биологической защитой, выполненной из толстостенного бетона.
			Ускоритель и зона облучения расположены в зале с толщиной стен и перекрытий до 2,5 метров, оборудование
			остальных систем расположено в помещениях, не имеющих радиационной защиты. Вход в радиационно-защищенные
			помещения, а также трассы конвейера и коммуникаций сделаны&nbsp; лабиринтными.</p>
		<p><img src="assets/images/pic3.png" alt="3" style="float: left; margin: 0 20px 20px 0;" width="300">Безопасность работы
			обслуживающего персонала обеспечивается также системой защитной дозиметрии и защитных блокировок. Датчики
			защитной дозиметрии установлены во всех помещениях, в том числе на рабочих местах персонала. В случае
			превышения допустимого уровня радиации установка немедленно выключается. Система защитных блокировок не
			позволяет включить установку при наличии людей в радиационно-защищенной зоне, а также не позволяет заходить
			персоналу в эту зону при работающей установке.</p>
		<p><img src="assets/images/pic4.png" alt="4" style="float: right; width: 300px; margin: 0 0 20px 20px;">В Центре
			реализована автоматизированная система управления производственным процессом и контроля качества,
			обеспечивающая эффективное использование оборудования, безопасность обслуживающего персонала и высокое
			качество радиационной обработки.</p>
		<p>Центр радиационных технологий обладает большой производительностью и находится в постоянной промышленной
			эксплуатации с 1994 года. Центр выполнен на уровне лучших мировых образцов и может быть рекомендован в
			качестве типовой технологической установки с большой производительностью.</p>
		<p>&nbsp;&nbsp;&nbsp;</p>
		<h2>КОНТАКТНЫЕ ДАННЫЕ</h2>
		<p>Центр радиационной стерилизации</p>
		<p><strong>Диспетчер стерилизационного производства</strong><br>Арфикян Павел Андреевич<br>тел.: +7 - 926 - 872
			- 21 - 22<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +7 - 495 - 909 - 25 - 02, доб. 10 - 17<br>е-mail:
			sterus@mrtiran.ru</p>
		<p><strong>Ведущий экономист</strong><br>Чернова Юлия Юрьевна</p>
		<p>тел.: +7 - 495 - 909 - 25 - 02, доб. 10-18<br>е-mail: ulia.chernova@mrtiran.ru</p>
		<div class="data">
			Copyright © Московский радиотехнический институт РАН
		</div>
	</div>
</div>