<div class="form-floating mb-3">
	<input
		type={{type}}
		id = {{id}}
		[formControl]="control"
		placeholder="{{label}}"
		class="form-control"
		[ngClass]="(control.touched) ? control.invalid ? 'is-invalid' : 'is-valid' : null">

	<div *ngIf="control.status === 'PENDING'" class="fa fa-spinner fa-spin loader"></div>
	<label for={{id}}>{{label}}</label>

	<div *ngIf="control.errors?.['required']" class="invalid-feedback">Введите {{label}}</div>
	<div *ngIf="control.errors?.['pattern']" class="invalid-feedback">Пароль должен быть длиннее 6 символов, содержать большие и малые буквы, цифры и символы</div>
	<div *ngIf="control.errors?.['nameExists']" class="invalid-feedback">Имя занято</div>
</div>
